/* .checkbox{
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 30px;

    display: flex;
    align-items: center;
}

.check{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: black;
    transition: 500ms;
}

.active .check{
    transform: translate(51px);
    background-color: red;
}

body.active{
    background-color: rgba(0, 0, 0, 0.405);
    transition: 500ms;
}

body{
    transition: 500ms;
}  */



/*  ================================================= */

/* .list {
    width: 1200px;
    outline: 1px solid red;
    margin: 0 auto;
     
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    list-style: none;
    padding: 0;
}

.item {
    flex-basis: calc ((100% - 60px) / 3);
    outline: 2px solid red;
    padding: 20px;
    border-radius: 8px;
    background-color: rgb(176, 172, 172);
}

.delit{
    background-color: red;
    padding: 10px 20px;
    border: none;
    color: aliceblue;
    border-radius: 8px;
}

/*  ================================================= */

body {
    display: flex;
    justify-content: center;
    align-items: center
}

#form {
    width: 400px;
    height: 500px;
    box-shadow: 10px 5px 30px 0 rgba(0, 0, 0, 0.384);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#list {
    margin-left: 20px;
}

.title {
    text-align: center;
    font-size: 22px;
}

input {
    padding: 10px 20px;
    border-radius: 100px;
    border: none;
    background-color: rgba(0, 0, 0, 0.171);
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    background-color: rgba(0, 0, 255, 0.792);
    color: wheat;
    cursor: pointer;
}

.btn-save:hover {
    background-color: green;
}

.btn-delete:hover {
    background-color: rgba(255, 0, 0, 0.783);
}

.btn-chenge:hover {
    background-color: rgb(69, 69, 231);
}
